*{
    margin: 0;
}

html,body{
    background-color: #000;
    margin: 0;
    height: 100%;
    width: 100%;
}

body{
    font-family: "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
}
#container{
    background-color: #fff;
    border: 5px solid #ccc;
    border-radius: 4px;
    margin: 50px auto;
    padding: 20px;
    width: 500px;
}

#searchbox{
    margin: 20px;
    width: 80%;
}

#searchbox input{
    border: 1px solid #eee;
    border-radius: 4px;
    box-shadow: 1px 0 1px #999;
    /*margin-bottom: 20px;*/
    padding: 10px;
    width: 100%;
}

#list {
    background-color: #fefefe;
    border: 1px solid #eee;
    margin-top: 3px;
}

#list ul{
    padding: 0;
}
#list ul li{
    color: #555;
    font-size: 14px;
    font-weight: 600;
    list-style-type: none;
    padding: 5px 5px 5px 20px;
}